/.env
/.DS_Store
**/.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.claude/settings.local.json
logs/
notebooks/**/.cache/
elastic-start-local/.env
/chunk-b-g1.png
/chunk-b-g2.png
/chunk-s-g1.png
/chunk-s-g2.png
/chunk-s-g3.png
/data
/venv
.venv/
venv/
*.pem
.opencode
/models
/paper_figures